[submodule "protogalaxies"]
	path = protogalaxies
	url = git@github.com:andromeda/protogalaxies.git
[submodule "nucleosynthesis"]
	path = nucleosynthesis
	url = git@github.com:andromeda/nucleosynthesis.git
[submodule "doc"]
	path = doc
	url = git@github.com:andromeda/doc.git
[submodule "ndr.md"]
	path = ndr.md
	url = git@github.com:nvasilakis/ndr.md.git
