[submodule "protogalaxies"]
	path = protogalaxies
	url = git@github.com:andromeda/protogalaxies.git
[submodule "nucleosynthesis"]
	path = nucleosynthesis
	url = git@github.com:andromeda/nucleosynthesis.git
[submodule "ndr.md"]
	path = ndr.md
	url = git@github.com:nvasilakis/ndr.md.git
[submodule "doc"]
	path = doc
	url = git@github.com:andromeda/doc.git
[submodule "andromeda"]
	path = andromeda
	url = git@github.com:andromeda/andromeda.git
[submodule "hspace"]
	path = hspace
	url = git@github.com:andromeda/hspace.git
[submodule "jesc"]
	path = jesc
	url = git@github.com:andromeda/jesc.git
[submodule "utils"]
	path = utils
	url = git@github.com:andromeda/utils.git
[submodule "attn."]
	path = attn.
	url = git@github.com:andromeda/attn..git
