[submodule "protogalaxies"]
	path = protogalaxies
	url = git@github.com:andromeda/protogalaxies.git
[submodule "nucleosynthesis"]
	path = nucleosynthesis
	url = git@github.com:andromeda/nucleosynthesis.git
[submodule "ndr.md"]
	path = ndr.md
	url = git@github.com:nvasilakis/ndr.md.git
[submodule "doc"]
	path = doc
	url = git@github.com:andromeda/doc.git
[submodule "thesis"]
	path = doc/thesis
	url = git@github.com:andromeda/thesis.git
[submodule "hstore"]
	path = hstore
	url = git@github.com:andromeda/hstore.git
[submodule "m31"]
	path = m31
	url = git@github.com:andromeda/m31.git
